<nav class="navbar navbar-expand-lg navbar-light  p-4 mb-4" style="background-color: #8eb535; ">
    <img src="https://static.wikia.nocookie.net/logopedia/images/0/06/Dgii_logo.png" alt="">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active  ">
          <a class="nav-link " style="color:aliceblue;"  href="contribuyente"><b>Contribuyentes</b></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="comprobantes/todos" style="color:aliceblue;" ><b>Comprobantes Fiscales</b></a>
          </li>
      </ul>
    </div>
  </nav>